<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
	<title>koiHai</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/stylesheets/index/css/main.css" />
	<!-- Latest compiled and minified CSS -->

	<script>
		function redirect(loc) {
			window.location.href = loc;
        }
	</script>


</head>
<body id="top">




<!-- Banner -->
<!--
    To use a video as your background, set data-video to the name of your video without
    its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
    formats to work correctly.
-->

<section id="banner" data-video="/images/index/banner">
	<div class="inner">
		<header>
			<h1>Ever changing world</h1>
			<p>A step to create a beautiful world for unskilled labour</p>
			<p>A world where everyone lives happily</p>
		</header>
		<a href="#main" class="more">Learn More</a>
	</div>
</section>



<!-- Main -->
<div id="main">
	<div class="inner">

		<!-- Boxes -->
		<div class="thumbnails">

			<div class="box">
				<a class="image fit"><img src="/images/index/pic01.jpg" height="200" alt="" /></a>
				<div class="inner">
					<h3>Carpenter</h3>
					<p>Carpentry is a skilled trade in which the primary work performed is the cutting and shaping of wooden materials and glass</p>
					<button onclick="redirect('/login')" class="button fit">More</button>
				</div>
			</div>

			<div class="box">
				<a class="image fit"><img src="/images/index/pic02.jpg" height="200" alt="" /></a>
				<div class="inner">
					<h3>Plumber</h3>
					<p>A plumber is a tradesperson
						who specializes in installing and maintaining systems
						used for potable water, sewage and drainage in plumbing systems.</p>
					<button onclick="redirect('/login')" class="button style2 fit">More</button>
				</div>
			</div>

			<div class="box">
				<a class="image fit"><img src="/images/index/pic03.jpg" height="200" alt="" /></a>
				<div class="inner">
					<h3>Electrician</h3>
					<p>An electrician is a tradesperson specializing in electrical
						wiring of buildings, stationary machines, and related equipment.</p>
					<button onclick="redirect('/login')" class="button style3 fit">More</button>
				</div>
			</div>

			<div class="box">
				<a class="image fit"><img src="/images/index/pic04.jpg" height="200" alt="" /></a>
				<div class="inner">
					<h3>Installation</h3>
					<p>Machine installation and commissioning is a key part of putting the machine into service.</p>
					<button onclick="redirect('/login')" class="button style2 fit">More</button>
				</div>
			</div>

			<div class="box">
				<a class="image fit"><img src="/images/index/pic05.jpg" height="200" alt="" /></a>
				<div class="inner">
					<h3>Painter</h3>
					<p>A house painter and decorator is a tradesman responsible for the painting and decorating of buildings</p>
					<button onclick="redirect('/login')" class="button style3 fit">More</button>
				</div>
			</div>

			<div class="box">
				<a class="image fit"><img src="/images/index/pic06.jpg" height="200" alt="" /></a>
				<div class="inner">
					<h3>Home Repair</h3>
					<p>Home repair involves the diagnosis and resolution
						of problems in a home, and is related to home maintenance to avoid such problems.</p>
					<button onclick="redirect('/login')" class="button fit">More</button>
				</div>
			</div>

		</div>

	</div>
</div>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<h1><a href="/login">Login</a> | <a href="/login">Sign Up</a></h1>
		<h2>About</h2>
		<p>This is a single platform to connect semi-skilled labour with some experience who are
			in search of freelancer jobs and the clients</p>

		<ul class="icons">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
		</ul>
	</div>
</footer>

<!-- Scripts -->
<script src="/javascripts/index/js/jquery.min.js"></script>
<script src="/javascripts/index/js/jquery.scrolly.min.js"></script>
<script src="/javascripts/index/js/jquery.poptrox.min.js"></script>
<script src="/javascripts/index/js/skel.min.js"></script>
<script src="/javascripts/index/js/util.js"></script>
<script src="/javascripts/index/js/main.js"></script>

</body>
</html>